body {background: #e7e5d8;}
.index {background: transparent !important;position: relative;top: calc(50vh - 46vh);}
.index > .header {background: url(../images/header.png);background-size: 100% 100%;height: 75px;margin-bottom: 12px;width: 100%;}
.index > .header .logo {float: left;margin: 15px 30px 3px 60px;height: 52px;}
.index > .header .title {float: left;line-height: 18px;padding-top: 18px;}
.index > .header .title h3 {color: #585858;line-height: 27px;}
.index > .header .toolbar {float: right;margin: 15px 30px 9px -10px;padding-right: 3%;}
.index > .header .toolbar > * {display: block;float: left;height: 52px;}
.index > .header .toolbar > a {cursor: pointer;line-height: 28px;padding: 12px;}
.index > .header .toolbar > #signout {text-decoration: underline;}
.index .main {height: calc(90vh - 72px);;margin: 0 9px;overflow: hidden;position: relative;}
.index .main .toolbar {background: #008260;height: calc(90vh - 72px);;margin-right: 9px;position: absolute;width: 48px;z-index: 2;}
.index .main .toolbar:after {background: url(../images/icons/icon-bars.png);content: '';display: block;height: 65px;margin-top: -32.5px;position: absolute;right: -14px;top: 50%;width: 14px;}
.index .main .toolbar.close:after {background: url(../images/icon-barc.png);}
.index .main .toolbar .btns-wrap {height: 593px;position: relative;width: 48px;}
.index .main .toolbar .btns-tool {min-height: 240px;position: absolute;transform: translateY(-50%);top: 50%;width: 48px;}
.index .main .toolbar .btns-tool > * {background: no-repeat center;display: block;width: 48px;height: 48px;margin: 24px 0;}
.index .main .toolbar .btns-tool > *:hover {background-color: rgba(255,255,255,.3);}
.index .main .toolbar .btns-tool > *#editbook {background-image: url(../images/icons/icon-editbook.png);}
.index .main .toolbar .btns-tool > *#addbook {background-image: url(../images/icons/icon-addbook.png);}
.index .main .toolbar .btns-tool > *#typemgr {background-image: url(../images/icons/icon-typew.png);background-size: 55% !important;}
.index .main .toolbar .btns-tool > *#bookmgr {background-image: url(../images/icons/icon-booklist.png);}
.index .main .toolbar .btns-tool > *#usermgr {background-image: url(../images/icons/icon-userlist.png);}
.index .main .toolbar .btns-tool > *#writebook {background-image: url(../images/icons/icon-writebook.png);}
.index .main .toolbar .btns-tool > *.cur {background-color: #fff;background-position: 10px center;position: relative;}
.index .main .toolbar .btns-tool > *.cur:before {background: #33d8ad;bottom: 0;content: '';left: 0;position: absolute;top: 0;width: 5px;}
.index .main .toolbar .btns-tool > *.cur#editbook {background-image: url(../images/icons/icon-editbook-cur.png);}
.index .main .toolbar .btns-tool > *.cur#addbook {background-image: url(../images/icons/icon-addbook-cur.png);}
.index .main .toolbar .btns-tool > *.cur#typemgr {background-image: url(../images/icons/icon-types.png);}
.index .main .toolbar .btns-tool > *.cur#bookmgr {background-image: url(../images/icons/icon-booklist-cur.png);}
.index .main .toolbar .btns-tool > *.cur#usermgr {background-image: url(../images/icons/icon-userlist-cur.png);}
.index .main .toolbar .btns-tool > *.cur#writebook {background-image: url(../images/icons/icon-writebook-cur.png);}
.index .main .subpage {background: #fff;height: calc(90vh - 72px);padding: 0 12px;margin-left: 4%;}
.index .main .subpage .title {color: #008260;font-weight: bold;line-height: 45px;}

.dialog-page .body {bottom: 0 !important;height: 430px;}
.icon-add{background-image:url(../images/icons/icon-add.png); background-repeat: no-repeat !important;background-position-y: center;background-position-x: 10px;padding-left: 35px !important;padding-right: 10px !important;}
.icon-delete{background-image:url(../images/icons/icon-delete.png); background-repeat: no-repeat !important;background-position-y: center;background-position-x: 10px;padding-left: 35px !important;padding-right: 10px !important;}
.icon-search{background-image: url(../images/icons/icon-search.png); background-repeat: no-repeat !important;width: 22px;height: 23px;display: inline-block;position: absolute;left: 83%;cursor: pointer;}

.btn{display: inline-block;width: 100px;height: 30px !important;line-height: 26px !important; background-repeat: no-repeat !important;background-position-y: center;background-position-x: 10px;padding-left: 35px !important;padding-right: 10px !important;}
.btn:hover{background-color: none !important;color: #b1acac;}
.btn.edit {background-image: url(../images/icons/icon-edit.png);}
.btn.delete {background-image: url(../images/icons/icon-delete2.png);}
.btn.enable {background-image: url(../images/icons/icon-enable.png);}
.btn.disable {background-image: url(../images/icons/icon-disable.png);}
.btn.view {background-image: url(../images/icons/icon-view.png);}
.btn.loan {background-image: url(../images/icons/icon-loan.png);}
.btn.back {background-image: url(../images/icons/icon-back.png);}

#shadow{
	display: none;
	width: 100%;
	height: 100%;
	background: #0000008f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}