<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>second</title>
</head>
<body>
  <h1 >123</h1>
    <span th:text="thenext"></span>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>username</td>
            <td>password</td>
        </tr>
        </thead>
<!--        <tbody th:if=" $(not user == null)" th:object="${user}">-->
<!--        <tr>-->
<!--            <td th:text="*{getId()}"></td>-->
<!--            <td th:text="*{getUserName()}"></td>-->
<!--            <td th:text="*{getPassWord()}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
    </table>
</body>
</html>